<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net452" />
  <package id="Dapplo.Addons" version="0.5.50" targetFramework="net452" />
  <package id="Dapplo.Addons.Bootstrapper" version="0.5.50" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Configuration" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Dapp" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Menu" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Security" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Translations" version="0.5.26" targetFramework="net452" />
  <package id="Dapplo.Ini" version="0.5.24" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net452" />
  <package id="Dapplo.Language" version="0.5.24" targetFramework="net452" />
  <package id="Dapplo.Log" version="1.1.4" targetFramework="net452" />
  <package id="Dapplo.Log.Loggers" version="1.1.4" targetFramework="net452" />
  <package id="Dapplo.Utils" version="1.0.158" targetFramework="net452" />
  <package id="Dapplo.Windows" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.Common" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.Dpi" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.Input" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.Messages" version="0.5.45" targetFramework="net452" />
  <package id="Dapplo.Windows.User32" version="0.5.45" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net452" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Memory" version="4.4.0-preview2-25405-01" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net452" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net452" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net452" />
</packages>